@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@400;600&family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.sidebarContainer {
    width: 250px;
    background: #6d8f85;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    height:max-content;
    /* overflow-y: auto; */
}



.profileCircle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #C9A227;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto 15px auto;
}

.userEmail {
    text-align: center;
    font-size: 15px;
}

.savedHistory {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* margin-bottom: 10px; */
}

.savedHistory h2 {
    font-size: 20px;
    color: white;
}

.divider {
    width: 100%;
    border: 0.5px solid white;
    margin-bottom: 15px;
}

/* Report List */
.reportItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: auto; /* Push logout button to bottom */
}

.reportBox {
    background-color: white;
    border: none;
    color: #C9A227;
    padding: 15px 40px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    transition: 0.3s;
    border-radius: 10px;
}

.reportBox:hover {
    background-color: #C9A227;
    color: white;
    transform: scale(1.03);
}

.noReports {
    text-align: center;
    color: white;
}

/* Logout Button */
.logoutContainer {
    padding-top: 20px; /* Ensures spacing from reports */
}

.logoutButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    background-color: #365A55;
    color: white;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.logoutButton:hover {
    background-color: #2d4a48;
    transform: scale(1.05);
}

.logoutIcon {
    margin-right: 5px;
    font-size: 20px;
}
